<!-- Navbar 1 - Bootstrap Brain Component -->
<nav class="navbar navbar-expand-md bg-light bsb-navbar bsb-navbar-hover bsb-navbar-caret">
    <div class="container">
        <a class="navbar-brand text-primary" href="/">
            <h3>PHÒNG MẠCH ĐGĐ</h3>
        </a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#!" id="accountDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Tài khoản</a>
                        <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="accountDropdown">
                            {% if current_user.is_authenticated %}
                                <li><a class="dropdown-item" href="/info-user">Chào {{ current_user.full_name }}</a>
                                </li>

                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="/login">Đăng nhập</a></li>

                                <li><a class="dropdown-item" href="/signup">Đăng ký</a></li>
                            {% endif %}

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#!" id="roleDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Công việc</a>
                        <ul class="dropdown-menu border-0 shadow bsb-zoomIn" aria-labelledby="roleDropdown">

                            <li><a class="dropdown-item" href="/user-patient">Người dùng</a></li>
                            <li><a class="dropdown-item" href="/nurse">Y tá</a></li>
                            <li><a class="dropdown-item" href="/doctor">Bác sĩ</a></li>
                            <li><a class="dropdown-item" href="/cashier">Thu ngân</a></li>
                            <li><a class="dropdown-item" href="/nurse_add_new_user_to_waiting_list">Đăng ký khám tại quầy</a></li>
                            <li><a class="dropdown-item" href="/admin">Quản trị viên</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script src="https://unpkg.com/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>