{% extends 'layout/base.html' %}
{% block title %} Bác sĩ {% endblock %}
{% block content %}
    <div class="container min-vh-100">
        <h3 class="mt-3 mb-3">Phiếu khám bệnh</h3>
        {#        <h1>{{ medical_examination_form_id }}</h1>#}
        {#        <h5>{{ info_medical_examination_form }}</h5>#}
        {#        <h5>{{ medicine_report }}</h5>#}
        <div class="row">

        </div>


        <form method="post"
              action="/save_medical_examination_form?medical_examination_form_id={{ medical_examination_form_id }}">
            <div class="row">
                <div class="col-8">

                    {% if can_export_payment %}
                        <button type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal"
                                data-bs-target="#addMedicineFormModal">
                            Thêm thuốc
                        </button>
                    {% else %}
                        <button disabled type="button" class="btn btn-primary mt-3 mb-3" data-bs-toggle="modal"
                                data-bs-target="#addMedicineFormModal">
                            Thêm thuốc
                        </button>
                    {% endif %}

                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-success mt-3 mb-3" data-bs-toggle="modal"
                            data-bs-target="#exportPaymentInvoice">Xuất hóa đơn
                    </button>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-success mt-3 mb-3">Lưu thông tin</button>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="patient_name"
                               placeholder="Tên đăng nhập"
                               value="{{ info_medical_examination_form.full_name }}" readonly>
                        <label for="username_signup" class="form-label">Họ tên</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="appointment_date"
                               placeholder="Tên đăng nhập"
                               value="{{ info_medical_examination_form.appointment_date }}" readonly>
                        <label for="username_signup" class="form-label">Ngày khám</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">

                    <textarea class="form-control" rows="3"
                              name="symptom"


                    >{{ info_medical_examination_form.symptom }}</textarea>
                        <label for="username_signup" class="form-label">Triệu chứng</label>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="predicted_disease"

                               value="{{ info_medical_examination_form.predicted_disease }}"
                        >
                        <label for="username_signup" class="form-label">Dự đoán loại bệnh</label>
                    </div>
                </div>

            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>STT</th>
                <th>Thuốc</th>
                <th>Đơn vị</th>
                <th>Số lượng</th>
                <th>Cách dùng</th>
            </tr>
            </thead>
            <tbody>
            {% for medicine in medicine_report %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ medicine.medicine_name }}</td>
                    <td>{{ medicine.unit_name }} </td>
                    <td>{{ medicine.quantity }} </td>
                    <td>{{ medicine.how_to_use }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addMedicineFormModal" tabindex="-1" aria-labelledby="addMedicineFormModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addMedicineFormModalLabel">Thêm thuốc</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>


                </div>
                <form method="post"
                      action="/add_medicine_to_medical_examination_form?medical_examination_form_id={{ medical_examination_form_id }}">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="predicted_disease" class="form-label">Thuốc</label>
                            <select class="form-select  mb-3" aria-label=".form-select-lg example"

                                    required name="medicine_id">
                                {% for medicine in medicines %}
                                    <option value="{{ medicine[0] }}">{{ medicine[1] }}</option>

                                {% endfor %}

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="predicted_disease" class="form-label">Đơn vị</label>
                            <select class="form-select  mb-3"
                                    aria-label=".form-select-lg example"
                                    name="unit_id"
                                    required>
                                {% for unit in units %}
                                    <option value="{{ unit.id }}">{{ unit.name }}</option>

                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Số lượng</label>
                            <input type="number" class="form-control" id="quantity"
                                   name="quantity"
                                   value="5"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="how_to_use" class="form-label">Cách dùng</label>
                            <textarea class="form-control" id="how_to_use" name="how_to_use"
                                      rows="4">Dùng 3 bữa sau ăn</textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exportPaymentInvoice" tabindex="-1" aria-labelledby="exportPaymentInvoiceLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exportPaymentInvoiceLabel">Hóa đơn thanh toán</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post"
                      action="/create_payment_invoice?medical_examination_form_id={{ medical_examination_form_id }}"
                >
                    <div class="modal-body">
                        {% if can_export_payment %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_full_name" class="form-label">Họ tên</label>
                                        <input type="text" class="form-control" id="pay_full_name"
                                               name="pay_full_name"
                                               value="{{ info_medical_examination_form.full_name }}"
                                               required
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_appointment_date" class="form-label">Ngày khám</label>
                                        <input type="text" class="form-control" id="pay_appointment_date"
                                               name="pay_appointment_date"
                                               value="{{ info_medical_examination_form.appointment_date }}"
                                               required
                                               readonly>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_medical_fee" class="form-label">Tiền khám</label>
                                        <input type="text" class="form-control" id="pay_medical_fee"
                                               name="pay_medical_fee"
                                               value="{{ medical_fee }}"
                                               required
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_medicine_price" class="form-label">Tiền thuốc</label>
                                        <input type="text" class="form-control" id="pay_medicine_price"
                                               name="pay_medicine_price"
                                               value="0"
                                               required
                                               readonly>
                                    </div>
                                </div>
                            </div>


                            <hr width="100%" size="2">
                            <div>
                                <h5>Tổng tiền 100,000 vnd</h5>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_full_name" class="form-label">Họ tên</label>
                                        <input type="text" class="form-control" id="pay_full_name"
                                               name="pay_full_name"
                                               value="{{ payment_invoice.full_name }}"
                                               required
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_appointment_date" class="form-label">Ngày khám</label>
                                        <input type="text" class="form-control" id="pay_appointment_date"
                                               name="pay_appointment_date"
                                               value="{{ payment_invoice.appointment_date }}"
                                               required
                                               readonly>
                                    </div>

                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_medical_fee" class="form-label">Tiền khám</label>
                                        <input type="text" class="form-control" id="pay_medical_fee"
                                               name="pay_medical_fee"
                                               value={{ payment_invoice.medical_fee }}
                                               required
                                               readonly>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label for="pay_medicine_price" class="form-label">Tiền thuốc</label>
                                        <input type="text" class="form-control" id="pay_medicine_price"
                                               name="pay_medicine_price"
                                               value={{ payment_invoice.medicine_price }}
                                               required
                                               readonly>
                                    </div>
                                </div>
                            </div>


                            <hr width="100%" size="2">
                            <div>
                                <h5>Tổng tiền {{ payment_invoice.total_price }} vnd</h5>
                            </div>
                        {% endif %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        {% if can_export_payment %}
                            <button type="submit" class="btn btn-primary">Xuất hóa đơn</button>
                        {% else %}
                            <button disabled type="submit" class="btn btn-outline-primary">Hóa đơn đã được xuất</button>
                        {% endif %}

                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>

        window.onload = function () {
            let sumMedicinePrice = 0
            {% for medicine in medicine_report %}
                sumMedicinePrice +=  {{ medicine.quantity }}*{{ medicine.price }}
            {% endfor %}
            let input_pay_medicine_price=document.getElementById('pay_medicine_price')
            input_pay_medicine_price.value=sumMedicinePrice

        };
    </script>
{% endblock %}