{%extends 'layout/base.html'%}
{%block title%} Bác sĩ {%endblock%}
{%block content%}
<div class="container">
<h1>Danh sách thuốc</h1>
     <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Tên thuốc</th>
                <th>unit_id</th>
                <th>Giá</th>
                <th>Số lượng trong kho</th>
            </tr>
            </thead>
            <tbody>
            {% for row in report %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td><button class="add_btn">➕</button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  <h1>Danh sách thuốc đã thêm</h1>
    <button>Xuất hóa đơn</button>
    </div>


{% endblock %}