{%extends 'layout/base.html'%}
{%block title%} Bác sĩ {%endblock%}
{%block content%}
    <div class="container">
<h1>Danh sách bệnh nhân</h1>
     <table class="table">
            <thead>
            <tr>
                <th>Ngày</th>
                <th>Ma Danh Sach</th>
                <th>Ma Benh Nhan</th>
                <th>Ten Benh Nhan</th>
            </tr>
            </thead>
            <tbody>
            {% for row in report %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }} </td>
                    <td><a href="/medical_examination?patient_id={{ row[2] }}">{{ row[3] }} </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}