{%extends 'layout/base.html'%}
{%block title%} Đăng nhập {%endblock%}
{%block content%}


    <h1>Lịch sử bệnh nhân</h1>
<button id="add-medicine-btn" onclick="location.href='/history_patient/add_medicine'">+ Thêm thuốc</button>
     <table class="table">
            <thead>
            <tr>
                <th>Ngày</th>
                <th>Tên bệnh nhân</th>
                <th>Triệu chứng</th>
                <th>Bệnh</th>
            </tr>
            </thead>
            <tbody>
            {% for row in report %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }} </td>
                    <td>{{ row[3] }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}